*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    width: 100vw;
    background-color:darkblue;
    padding-top: 20px;
}
.h{
    color: snow;
    background-color:rgb(11, 11, 155);
    height: 10vh;
    width: 25vw;
    font-size: 40px;
    border-radius: 20px;
    
}

body{
    background-color: darkblue;
    color:snow;
}
.article{
    background-color: darkblue;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
p{
    font-size: 30px;
}