*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin-left: 0; 
    height: 40px;
    padding-top: 5px;   
}
p1{
      margin-right: 427px;
    font-size:30px;
}
li{
    text-decoration: none;
    display:inline-block;
    margin: 20px;
    font-size: 17px;
    color: snow;
}
header{
    color: snow;
    background-color:darkblue;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 30px;
    
}
main{
    display: flex;
}
h1{
    font-size: 22px;
    font-weight: lighter;
}
section{
    font-size: 35px;
    line-height: 1.5;
    background-color:darkblue;
    color: snow;
    height:69.9vh;
    width: 50vw;
    padding-top: 100px;
    padding-left: 40px; 
}
p2{
    font-size: 35px;
    
}
p3{
    font-size: 21px;
   
}
article{
    background-color:darkblue;
    color: snow;
    height:69.9vh;
    width:46.86vw;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
img{
    border-radius: 75px;
}
footer{
    background-color: darkblue;
    text-align: center;
    color: snow;
}