*{
    margin: 0;
    padding: 0;
}
.header{
    color: snow;
    background-color: darkblue;
    height: 15vh;
    font-size: 10vh;
    padding-top: 10px;
    padding-left: 20px;
}
.body{
    background-color: darkblue;
    color: snow;
    height: 100vh;
}
.main{
    display: flex;
}
.section{
    height: 82.5vh;
    width: 45vw;
}
img{
    padding-left: 110px;
    padding-top: 70px;
}

.article{
    height: 82.5vh;
    width: 54.3vw;
    
}
p{
    color: snow;
    font-size: 20px;
    line-height: 1.5;
    
}