body {
    
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    text-align: center;
    background: lightgrey;
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px;
    width: 330px;
}

.calculator-container h2 {
    color: blue;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.calculator {
    background: silver;
    padding: 20px;
    border-radius: 12px;
}

#display {
    width: 90%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

button:hover {
    background-color: lightcyan;
}

.operator {
    background-color: blue;
    color: white;
}

.operator:hover {
    background-color: blue;
}

.equal {
    background-color: green;
    color: white;
}

.equal:hover {
    background-color: green;
}

.clear {
    grid-column: span 4;
    background-color: red;
    color: white;
}

.clear:hover {
    background-color: red;
}
