*{
    margin: 0;
    padding: 0;
}

header{
    height: 15vh;
    width: 100vw;
    background-color: black;
    padding-top: 20px;
}
.h{
    color: black;
    background-color:skyblue;
    height: 10vh;
    width: 25vw;
    font-size: 40px;
    border-radius: 20px;
    
}

body{
    background-color: skyblue;
    color: black;
}
.article{
    background-color: skyblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
p{
    font-size: 30px;
}